[Unit]
Description=Prometheus Node Exporter Service
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target
 
[Service]
Type=simple
User=prometheus
Group=prometheus
EnvironmentFile=-/etc/sysconfig/node_exporter
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/node_exporter $OPTIONS
Restart=on-failure
 
[Install]
WantedBy=multi-user.target